PORT=3000

DB_USER=quiz_app_user
DB_PASSWORD=quiz_app_password
DB_NAME=quiz_app
DB_PORT=5432

DATABASE_URL="postgresql://quiz_app_user:quiz_app_password@localhost:5432/quiz_app"

JWT_SECRET=cle_acces_secret
JWT_REFRESH_SECRET=cle_refresh_secrete
GROQUERY_API_KEY=cle_grok_api
